/* Mensaje de No Configuración */
.no-config-message {
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

.no-config-message .alert {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.no-config-message .alert-heading {
    font-size: 1.5rem;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.no-config-message .alert-heading i {
    margin-right: 10px;
}

.no-config-message .alert-link {
    font-weight: 600;
    text-decoration: underline;
}

.no-config-message .alert-link:hover {
    color: #0056b3;
} 